.favourite{
  display: flex;
  color: white;
  flex-flow: row wrap;
  row

  
}
h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

.favourite-bg-1 {
    background-image: url(../img/favourites/indonesia.png);
    flex: 20%;
    margin: 10px;
    padding: 40px;
  }
  
  .favourite-bg-2 {
    background-image: url(../img/favourites/australia.png);
    flex: 20%;
    margin: 10px;
    padding: 40px;
  }
  
  .favourite-bg-3 {
    background-image: url(../img/favourites/switzerland.png);
    flex: 20%;
    margin: 10px;
    padding: 40px;
  }
  button {
    background-color: rgb(106, 190, 155);
    color: white;
  }
  

  