hgroup{
    text-align: center;
}

hgroup > h3{
    font-size: 15px;
    font-weight: 100;
    padding: 40px, 0;
}

.destinations {
    color: white;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    /* height: 200px;
    width: 100%; */
}

#italy {
    background-image: url(../img/destination/italy.png);
    background-size: auto;
    flex: 30%;
    margin: 10px;
    padding: 150px, 100px;
}

#brazil {
    background-image: url(../img/destination/brazil.png);
    background-size: auto;
    flex: 30%;
    margin: 10px;
}

#america {
    background-image: url(../img/destination/america.png);
    background-size: auto;
    flex: 30%;
    margin: 10px;
}

#nepal {
    background-image: url(../img/destination/nepal.png);
    background-size: auto;
    flex:30%;
    margin: 10px;
}

#maldives {
    background-image: url(../img/destination/maldives.png);
    background-size: auto;
    flex: 30%;
    margin: 10px;
}

#indonesia {
    background-image: url(../img/destination/indonesia.png);
    background-size: auto;
    flex: 30%;
    margin: 10px;
}

.btn {
    transform: translate(-650%, -850%);
    border-radius: 100px;
    text-decoration-line: underline;
}